
<div class="container">
  <h2>Contact List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="contact-data">
      <tr ng-repeat="contact in main.contactList.contact track by $index" ng-include="getTemplate(contact)">

      </tr>
    </tbody>
  </table>
    <script type="text/ng-template" id="display">
          <td><input disabled type="text" value={{contact.firstName}} /></td>
          <td><input disabled type="text" value={{contact.lastName}} /></td>
          <td><input disabled type="text" value={{contact.email}} /></td>
          <td>
              <span class="glyphicon glyphicon-trash" ng-click="deleteItem($index)"></span>
              <span class="glyphicon glyphicon-edit" ng-click="editItem(contact)"></span>
          </td>
</script>

<script type="text/ng-template" id="edit">
    <td><input type="text" ng-model="main.contactList.selected.firstName" /></td>
    <td><input type="text" ng-model="main.contactList.selected.lastName" /></td>
    <td><input type="text" ng-model="main.contactList.selected.email"/></td>
    <td>
        <span class="glyphicon glyphicon-ok-sign" ng-click="saveItem($index)"></span>
        <span class="glyphicon glyphicon-remove-sign" ng-click="resetSelectedItem()"></span>
    </td>
</script>
</div>

