
<div class="container">
  <h2>Contact List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="contact-data" ng-repeat="el in contactList track by $index">
      <tr id="{{$index}}">
          <td><input type="text" value={{el.firstName}} /></td>
          <td><input type="text" value={{el.lastName}} /></td>
          <td><input type="text" value={{el.email}} /></td>
          
          <td><span class="glyphicon glyphicon-trash" ng-click="deleteItem($index)"></span></td>
      </tr>
    </tbody>
  </table>

</div>

