
<div class="container">
  <h2>Contact List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr class="contact-data" ng-repeat="el in arr">
          <td><input type="text" value={{el.firstName}} /></td>
          <td><input type="text" value={{el.lastName}} /></td>
          <td><input type="text" value={{el.email}} /></td>
      </tr>
    </tbody>
  </table>
</div>
